<p>
  <b>Code person:</b>
  <%=h @phone.code_person %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @phone.phone_number %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
